[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npx nest build",
  "ls -la dist/"
]

[start]
cmd = "node dist/main.js"
