[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npx tsc -p tsconfig.build.json",
  "ls -la dist/"
]

[start]
cmd = "npx prisma migrate deploy && node dist/main.js"
