[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npx prisma generate",
  "rm -rf dist",
  "npx tsc --project tsconfig.json --outDir dist --declaration false"
]

[start]
cmd = "npx prisma migrate deploy && node -r tsconfig-paths/register dist/src/main.js"
