[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npx prisma generate",
  "./node_modules/.bin/nest build",
  "ls -la",
  "ls -la dist/"
]

[start]
cmd = "npx prisma migrate deploy && node dist/main.js"
